<section class="module parallax parallax-1">
    <div class="container">
        <h1>Discover the world...</h1>
        <p></p>
    </div>
</section>

<section class="module parallax parallax-2">
    <div class="container">
        <h1>As others Travel...</h1>
        <p></p>
    </div>
</section>

<section class="module parallax parallax-3">
    <div class="container">
        <h1>and plan YOURSELF!!</h1>
    </div>
</section>
<footer class="container-fluid">
    <div class='container'>
        <div class='row'>
            <div class='span10'>
                <br>
                <small class='copyright'>
                    &copy; 2015 PlanIt, Inc
                </small>
            </div>
</div>
    </div>
</footer>