<div ng-controller="DemoCtrl">

    <br>
    <br>
    <br>

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="66" aria-valuemin="0"
             aria-valuemax="100" style="width: 66%">
            Customize >
        </div>
    </div>
    <br>

    <h2>Some places you would want to checkout to eat:</h2>

    <div class="container-fluid">
        <div ng-repeat="city in yelpResults" class="row">
            <h3>{{city.place}}</h3>
            <br>
            <i ng-repeat="place in city.results.businesses">
                <div class="tile1 col-md-{{($index%4)+1}}">
                    <div>
                        <input type="checkbox" ng-model="place.isSelected">
                        <h4>{{place.name}}</h4>
                            <img ng-src="{{place.image_url}}">
                            <ul>
                                <li><a href="{{place.url}}" class="url">{{place.url}}</a></li>
                                <li><b>Yelp Rating: {{place.rating}}</b></li>
                            </ul>
                    </div>
                </div>
            </i>
        </div>
    </div>

    <h3>We contacted a few people, they pictured this...</h3>

    <div class="container-fluid">
        <div class="row">
            <i ng-repeat="place in instagramResults">
                <div class="tile col-md-{{($index%4)+1}}">
                        <input type="checkbox" ng-model="place.isSelected">
                        <img ng-src="{{place.imageurl}}">
                        <h5>{{place.name}}</h5>
                </div>
            </i>
        </div>
    </div>
</div>

<button class='pull-right' ng-click="showSummary()">Submit</button>
