<div ng-click="open()" class="pull-right circle-plus">
    <div class="circle">
        <div class="horizontal"></div>
        <div class="vertical"></div>
    </div>
</div>

<div class="container-fluid">
    <h3>At a glance</h3>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <h2>
                {{raceinfo.name}}
            </h2>

            <dl>
                <dt>Location:</dt>
                <dd>{{raceinfo.location}}</dd>
                <dt>Price:</dt>
                <dd>{{raceinfo.price}}</dd>
                <dt>Date:</dt>
                <dd>{{raceinfo.date}}</dd>
                <dt>Time:</dt>
                <dd>{{raceinfo.time}}</dd>
                <dt>Registration Link:</dt>
                <dd><a href="{{raceinfo.link}}">{{raceinfo.link}}</a></dd>
            </dl>
        </div>
    </div>
    <h3>Race Reviews</h3>

    <div class="row" ng-repeat="review in reviews| orderBy:'-upvote'">
        <hr>
        <div class="col-md-3 tile">
            <img ng-src="{{photos[$index]}}">

            <div style="margin-top: 2%;margin-right: 1%" class="pull-right">
                <a ng-model="review.upvote" ng-click="increaseVote(review.id)" class="btn btn-primary">
                    <i class="fa fa-heart-o"></i>
                    <strong>{{review.upvote}}</strong>
                    <span>LIKE</span>
                </a></div>
        </div>
        <div class="col-md-7 data">
            <div class="reviews pull-left">
                <dl>
                    <dt>Story:</dt>
                    <dd>{{review.story}}</dd>
                    <dt>Pros:</dt>
                    <dd>{{review.pros}}</dd>
                    <dt>Cons:</dt>
                    <dd>{{review.cons}}</dd>
                </dl>
            </div>

            <div class="ratings pull-right">
                <ul>
                    <li>Cost</li>
                    <li>
                        <!--cost-->
                        <div class="radial-progress" data-progress="{{review.rating.cost}}">
                            <div class="circle">
                                <div class="mask half">
                                    <div class="cost fill"></div>
                                    <div class="cost fill fix"></div>
                                </div>
                                <div class="shadow"></div>
                            </div>
                            <div class="inset">
                                <div class="percentage"></div>
                            </div>
                        </div>
                    </li>
                    <li>Course</li>
                    <li>
                        <!--course-->
                        <div class="radial-progress" data-progress="{{review.rating.course}}">
                            <div class="circle">
                                <div class="mask half">
                                    <div class="course fill"></div>
                                    <div class="course fill fix"></div>
                                </div>
                                <div class="shadow"></div>
                            </div>
                            <div class="inset">
                                <div class="percentage"></div>
                            </div>
                        </div>
                    </li>
                    <li>Fluid</li>
                    <li>
                        <!--fluid-->
                        <div class="radial-progress" data-progress="{{review.rating.fluid}}">
                            <div class="circle">
                                <div class="mask half">
                                    <div class="fluid fill"></div>
                                    <div class="fluid fill fix"></div>
                                </div>
                                <div class="shadow"></div>
                            </div>
                            <div class="inset">
                                <div class="percentage"></div>
                            </div>
                        </div>
                    </li>
                    <li>Fuel</li>
                    <li>
                        <!--fuel-->
                        <div class="radial-progress" data-progress="{{review.rating.fuel}}">
                            <div class="circle">
                                <div class="mask half">
                                    <div class="fuel fill"></div>
                                    <div class="fuel fill fix"></div>
                                </div>
                                <div class="shadow"></div>
                            </div>
                            <div class="inset">
                                <div class="percentage"></div>
                            </div>
                        </div>
                    </li>
                    <li>Crowd</li>
                    <li>
                        <!--crowd-->
                        <div class="radial-progress" data-progress="{{review.rating.crowd}}">
                            <div class="circle">
                                <div class="mask half">
                                    <div class="crowd fill"></div>
                                    <div class="crowd fill fix"></div>
                                </div>
                                <div class="shadow"></div>
                            </div>
                            <div class="inset">
                                <div class="percentage"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="addReview.html">
    <div class="modal-header">
        <h4>The community needs to know your experience...</h4>
    </div>
    <form ng-submit="submit()">
        <div class="modal-body">
            <dl class="dl-horizontal" ng-repeat="rating in ratings">
                <dt>{{rating.title}}</dt>
                <dd>
                    <rating ng-model="rating.current" max="10"
                            readonly="isReadonly"
                            on-hover="hoveringOver($index,value)"
                            on-leave="overStar = null"></rating>
                    <span class="label"
                          ng-class="{'label-warning': rating.percent<30, 'label-info': rating.percent>=30 && rating.percent<70, 'label-success': rating.percent>=70}"
                          >{{rating.percent}}%</span>
                </dd>

            </dl>
            <label>My personal story for the race is:</label>
            <textarea rows="4" cols="50" ng-model="user.story"></textarea>

            <label>I really enjoyed the race for:</label>
            <textarea rows="4" cols="50" ng-model="user.pros"></textarea>
            <label>Errr, it could have been better if:</label>
            <textarea rows="4" cols="50" ng-model="user.cons"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <input type="submit" class="btn primary-btn" value="Submit"/>
        </div>
    </form>
</script>