<div>

    <ul class="nav full-nav nav-pills">
        <li class="active">
            <a href="/trending">
                <i class="icon-graph"></i> At a glance
            </a></li>
        <li class="">
            <a href="/top">
                <i class="icon-fire"></i> Editor's Review </span>
            </a></li>
        <li class="">
            <a href="/staffpicks">
                <i class="icon-heart"></i> Race Review
            </a></li>
    </ul>

</div>
<div class="container-fluid">
    <h3>At a glance</h3>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <h2>
                {{raceinfo.name}}
            </h2>

            <dl>
                <dt>Location:</dt>
                <dd>{{raceinfo.location}}</dd>
                <dt>Price:</dt>
                <dd>{{raceinfo.price}}</dd>
                <dt>Date:</dt>
                <dd>{{raceinfo.date}}</dd>
                <dt>Time:</dt>
                <dd>{{raceinfo.time}}</dd>
                <dt>Registration Link:</dt>
                <dd><a href="{{raceinfo.link}}">{{raceinfo.link}}</a></dd>
            </dl>
        </div>
    </div>
    <h3>Race Reviews</h3>

    <div class="row" ng-repeat="review in reviews| orderBy:'-upvote'">
        <hr>
        <div class="col-md-1"></div>
        <div class="col-md-4 tile">
            <img ng-src="{{photos[$index]}}">

            <div style="margin-top: 2%;margin-right: 1%" class="pull-right">
                <a class="btn btn-primary">
                    <i class="fa fa-heart-o"></i>
                    <strong>{{review.upvote}}</strong>
                    <span>LIKE</span>
                </a></div>
        </div>
        <div class="col-md-5 data">
                <span class="reviews">

                    <dl>
                        <dt>Story:</dt>
                        <dd>{{review.story}}</dd>
                        <dt>Pros:</dt>
                        <dd>{{review.pros}}</dd>
                        <dt>Cons:</dt>
                        <dd>{{review.cons}}</dd>
                    </dl>
                </span>
        </div>
        <div class="ratings col-md-3">
            <ul>
                <li>Cost</li>
                <li>Course</li>
                <li>Fluid</li>
                <li>Fuel</li>
                <li>Crowd</li>
            </ul>

            <ul>
                <li>
                    <!--cost-->
                    <div class="radial-progress" data-progress="{{review.rating.cost}}">
                        <div class="circle">
                            <div class="mask half">
                                <div class="cost fill"></div>
                                <div class="cost fill fix"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <div class="percentage"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--course-->
                    <div class="radial-progress" data-progress="{{review.rating.course}}">
                        <div class="circle">
                            <div class="mask half">
                                <div class="course fill"></div>
                                <div class="course fill fix"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <div class="percentage"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--fluid-->
                    <div class="radial-progress" data-progress="{{review.rating.fluid}}">
                        <div class="circle">
                            <div class="mask half">
                                <div class="fluid fill"></div>
                                <div class="fluid fill fix"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <div class="percentage"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--fuel-->
                    <div class="radial-progress" data-progress="{{review.rating.fuel}}">
                        <div class="circle">
                            <div class="mask half">
                                <div class="fuel fill"></div>
                                <div class="fuel fill fix"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <div class="percentage"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <!--crowd-->
                    <div class="radial-progress" data-progress="{{review.rating.crowd}}">
                        <div class="circle">
                            <div class="mask half">
                                <div class="crowd fill"></div>
                                <div class="crowd fill fix"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <div class="inset">
                            <div class="percentage"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>